---
import { SITE_TITLE } from '../consts';


const baseUrl = `${import.meta.env.BASE_URL}`;
const logoTec = `${import.meta.env.BASE_URL}/images/logo_tec.png`;
const logoTecSal = `${import.meta.env.BASE_URL}/images/logo_tec_sal.png`;
---

<header>
	<nav>
		<h2><a href={baseUrl}>{SITE_TITLE}</a></h2>
		<div class="social-links">
			<img src={logoTec} width="48px" height="48px" />
			<img src={logoTecSal} width="48px" height="48px" />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
